.loginboxinner{
	background-color:'#ffffff';
	border-radius:10;
	display:flex;
	align-self:center;
	align-items:center;
	justify-content:center;
	tab-index: -1;
}

.phoneInput:focus {
	outline: none;
	border: 0.5px solid #dee2e6; 
	width:370px;
	border-radius:4px;
	height:30px;
	font-size:11pt;
	font-family:OpenSansRegular;
	margin-top:-15px;
	margin-left:9px;
	box-shadow: 0 1px 2px rgb(0 0 0 / 0.2);
	tab-index: -1;
}

.phoneInput {
	border: 0.5px solid #dee2e6; 
	width:370px;
	border-radius:4px;
	height:30px;
	margin-top:-15px;
	margin-left:9px;
	box-shadow: 0 1px 2px rgb(0 0 0 / 0.2);
}

.groupa {
	clear:both;
	margin-top:-30px;
}

.groupb {
	display:flex;
	align-self:left;
	align-items:flex-start;
	font-size:11.5pt;
	color:#424b5a;
	width:370px;
	margin-top:30px;
	margin-left:20px;
}

.forgotpassdiv {
	width:250px;
}

.forgotpasslink {
	margin-right:-22px;
	color:#81bc27;
	font-size:11pt;
	font-family:OpenSansBold;
	text-decoration: none;
}

.rememberlabel {
	margin-left:-60px;
}

.checkboxdiv {
	width:30px;
	margin-left:-20px;
}

.rememberdiv {
	width:200px;
}

.mobLabel {
	font-size:11.5pt;
	font-family:OpenSansSemiBold;
	color:#424b5a;
	text-align:left;
	margin-top:3px;
	margin-left:20px;
}

.form-submit-button {
	background: #81bc25;
	color: white;
	border:0;
	height: 32px;
	width: 380px;
	margin-top:40px;
	font-size: 15px;
	font-family:OpenSansSemiBold;
	border-radius:5px;
	text-shadow: none;
}
